{% extends "base.html" %}
{% block title %}Список постов{% endblock title %}

{% block content %}

<h1 class="text-center">Публикации</h1>

<ul class="list-group list-group-flush">
<li class="list-group-item mx-auto mt-5" style="width: 50rem;">


        <div class="text-white">
            <a href="{% url "blog:post_create" %}" style="display:block; width:12rem;" class="btn btn-dark mx-auto">Добавить пост</a>
        </div>

    </li>
{% for post in posts %}
    <li class="list-group-item mx-auto" style="width: 50rem;">
        <h3 class="text-center">{{ post.title }}</h3>

        <img src="{{ post.preview_image.url }}" class="mx-auto" style="height: 30rem; display:block;">


        <div class="text-white">
            <a href="{% url "blog:post_detail" post.id %}" class="btn btn-dark mx-auto" style="display:block; width:12rem;">подробнее</a>
            </div>

    </li>
{% endfor %}

</ul>
<div class="my-5"></divclass>
{% include "includes/pagination.html" with page=page_obj %}
{% endblock content %}