<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if url == 'main' %}active{% endif %}" href="{% url "catalog:list" %}">Главная</a>
      <a class="nav-item nav-link {% if url == 'contact_info' %}active{% endif %}" href="{% url "catalog:contact_info" %}">Контакты</a>
      <a class="nav-item nav-link {% if url == 'contact_form' %}active{% endif %}" href="{% url "catalog:contact_form" %}">Связаться с нами</a>
      <a class="nav-item nav-link {% if url == 'product_form' %}active{% endif %}" href="{% url "catalog:product_create" %}">Добавить товар</a>
      <a class="nav-item nav-link {% if url == 'post_list' %}active{% endif %}" href="{% url "blog:post_list" %}">О новинках</a>
    </div>
  </div>
</nav>