{% extends "catalog/base.html" %}
{% block title %}Главная{% endblock title %}
{% block content %}
<h1 class="text-center my-5">Добро пожаловать!</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
  <div class="card  text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
  <div class="card  text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
 <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
   <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
   <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
   <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>
   <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>

  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>

  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>

  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>

  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/conversation-svgrepo-com.svg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Название товара</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-dark">Купить</a>
  </div>
</div>


</div>
{% endblock content %}