{% extends "base.html" %}
{% block title %}{% if not product %}Добавить товар{% else %}Обновить товар{% endif %}{% endblock title %}
{% block content %}


<div class="m-5">
    <div class="mx-auto d-block row" style="width:40rem;">
        <div class="card text-left ">



            <div class="card-body">
                <h1 class="card-title mb-5 mt-2 mx-5">{% if not product %}Добавить новый товар{% else %}Обновить товар{% endif %}</h1>
                <form method='post' enctype="multipart/form-data" novalidate>
                {% for field in form %}

                <h5 class="card-text m-5">
                    {{ field.label_tag }}
                    <span class="text-danger">{{ field.errors }}</span>
                    {{ field }}
                </h5>
                {% endfor %}
                 {% csrf_token %}
               <input class="m-5 btn btn-dark" type="submit" value="{% if not product %}Добавить товар{% else %}Обновить товар{% endif %}">
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



