{% extends "base.html" %}
{% load media_template_utils %}
{% block title %}Главная{% endblock title %}
{% block content %}

<h1 class="text-center my-5">Добро пожаловать!</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: space-around;">

  {% for product in products %}

  <div class="card text-center mb-4" style="width: 18rem;">
  <img class="card-img-top" src="{{ product.preview_image.url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text" style="height: 80px;">{{ product.description|truncatechars:100 }}</p>


    <a href="{% url "catalog:product_detail" product.id %}" class="btn btn-dark">{{ product.price }}</a>


  </div>
</div>

  {% endfor %}

</div>
{% include 'includes/pagination.html' with page=page_obj %}
{% endblock content %}